[build]
  base = "client"
  command = "npm install && vite build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NPM_CONFIG_PRODUCTION = "false"

[context.production.environment]
  NODE_ENV = "production"
